@import "tailwindcss";

:root {
  --background: #FAF8FC;
  --foreground: #171717;
}

@theme {
  --container-8xl: 1444px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-pastel-pink: #FFD1DC;
  --color-pastel-purple: #E6E6FA;
  --color-pastel-bg: #FFF0F5;
  --color-pastel-accent: #B39EB5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F2F0F2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}